<main class="page_produits">
  <h1> PHYTOTHERAPIE (PLANTES NATURELLES)</h1>
  
  <nav class="navbar">
        <ul>
        <li><a routerLink="/prevention" routerLinkActive="active" ariaCurrentWhenActive="page">SANTE PREVENTION & CONSEILS</a></li>
        <li><a routerLink="/complement" routerLinkActive="active" ariaCurrentWhenActive="page">COMPLEMENTS ALIMENTAIRES</a></li>
        <li><a routerLink="/vente" routerLinkActive="active" ariaCurrentWhenActive="page">SPECIALITES EN VENTE LIBRE</a></li>
        <li><a routerLink="/maquillage" routerLinkActive="active" ariaCurrentWhenActive="page">COSMETIQES & MAQUILLAGE</a></li>
        <li><a routerLink="/spagyrie" routerLinkActive="active" ariaCurrentWhenActive="page">SPAGYRIE</a></li>
        <li><a routerLink="/homeopathie" routerLinkActive="active" ariaCurrentWhenActive="page">HOMEOPATHIE</a></li>
        <li><a routerLink="/phytotherapie" routerLinkActive="active" ariaCurrentWhenActive="page">PHYTOTHERAPIE</a></li>
      </ul>
  </nav>

  <section class="section prod1">
      
       <div class="produit">
        <fieldset>
           <legend><b>Gamme de produits beyou</b></legend>
           <img class="prodimg"  src="../assets/Images/beaut1.jpg" alt="produit">
          <span>
          <p> <bdi class="prx img1">   
            55.95<span>&euro; </span>
          
           </bdi>
           </p>
          </span>
        </fieldset>
       </div>
       <div class="produit">
        <fieldset>
           <legend><b>Gamme de produits beyou</b></legend>
           <img class="prodimg"  src="../assets/Images/Beaute.jpg" alt="produit">
          <span>
          <p> <bdi class="prx img1">
          32.96<span>&euro; </span>
           
           </bdi>
           </p>
          </span>
        </fieldset>
       </div>
       <div class="produit">
        <fieldset>
           <legend><b>Gamme de produits beyou</b></legend>
           <img class="prodimg"  src="../assets/Images/gamme.jpeg" alt="produit">
          <span>
          <p> <bdi class="prx img1">
          50.59<span>&euro; </span>
           
           </bdi>
           </p>
          </span>
        </fieldset>
       </div>

       <div class="produit">
        <fieldset>
           <legend><b>Gamme de produits beyou</b></legend>
           <img class="prodimg"  src="../assets/Images/images (1).jpeg" alt="produit">
          <span>
          <p> <bdi class="prx img1">
          29.98<span>&euro; </span>
           
           </bdi>
           </p>
          </span>
        </fieldset>
       </div>
       
  </section>

 <!--  Section 2-->

 <section class="section prod1">
      
  <div class="produit">
   <fieldset>
      <legend><b>Gamme de produits beyou</b></legend>
      <img class="prodimg"  src="../assets/Images/prod6.jpeg" alt="produit">
     <span>
     <p> <bdi class="prx img1">   
       56.58<span>&euro; </span>
     
      </bdi>
      </p>
     </span>
   </fieldset>
  </div>
  <div class="produit">
   <fieldset>
      <legend><b>Gamme de produits beyou</b></legend>
      <img class="prodimg"  src="../assets/Images/prod7.jpeg" alt="produit">
     <span>
     <p> <bdi class="prx img1">
     51.98<span>&euro; </span>
      
      </bdi>
      </p>
     </span>
   </fieldset>
  </div>
  <div class="produit">
   <fieldset>
      <legend><b>Gamme de produits beyou</b></legend>
      <img class="prodimg"  src="../assets/Images/prod2.jpeg" alt="produit">
     <span>
     <p> <bdi class="prx img1">
     78.90<span>&euro; </span>
      
      </bdi>
      </p>
     </span>
   </fieldset>
  </div>

  <div class="produit">
   <fieldset>
      <legend><b>Gamme de produits beyou</b></legend>
      <img class="prodimg"  src="../assets/Images/prod3.jpeg" alt="produit">
     <span>
     <p> <bdi class="prx img1">
     49.99<span>&euro; </span>
      
      </bdi>
      </p>
     </span>
   </fieldset>
  </div>
  
</section>


<section class="section prod1">
      
<div class="produit">
 <fieldset>
    <legend><b>Gamme de produits beyou</b></legend>
    <img class="prodimg"  src="../assets/Images/prod8.jpeg" alt="produit">
   <span>
   <p> <bdi class="prx img1">   
     56.58<span>&euro; </span>
   
    </bdi>
    </p>
   </span>
 </fieldset>
</div>
<div class="produit">
 <fieldset>
    <legend><b>Gamme de produits beyou</b></legend>
    <img class="prodimg"  src="../assets/Images/prod9.jpeg" alt="produit">
   <span>
   <p> <bdi class="prx img1">
   51.98<span>&euro; </span>
    
    </bdi>
    </p>
   </span>
 </fieldset>
</div>
<div class="produit">
 <fieldset>
    <legend><b>Gamme de produits beyou</b></legend>
    <img class="prodimg"  src="../assets/Images/prod10.jpeg" alt="produit">
   <span>
   <p> <bdi class="prx img1">
   78.90<span>&euro; </span>
    
    </bdi>
    </p>
   </span>
 </fieldset>
</div>

<div class="produit">
 <fieldset>
    <legend><b>Gamme de produits beyou</b></legend>
    <img class="prodimg"  src="../assets/Images/prod12.jpeg" alt="produit">
   <span>
   <p> <bdi class="prx img1">
   49.99<span>&euro; </span>
    
    </bdi>
    </p>
   </span>
 </fieldset>
</div>

</section>



  
  </main>
  
  