<div class="page">
  <h1>Nos marques</h1>
  <div class="contenu  row no-gutters mt-0 ">
    <div class="images col-xl-2 col-lg-3 col-md-4 col-sm-6 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/novartis.png"/>
    </div>
    <div class="images col-xl-2 col-lg-3 col-md-4 col-sm-6 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/sanofi.jpg"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/pfizer.png"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/polepharma.jpg"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/roche.png"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/natural.jpg"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/marque_verte.jpg"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/allergyl.png"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/international.jpg"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/aegis.jpg"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/curasept.png"/>
    </div>
    <div class="images col-xl-2 col-lg-4 col-md-6 col-sm-12 container-fluid text-center mt-0 d-flex">
      <img class="img-fluid" src="/assets/Images/nos marques/bioderma.png"/>
    </div>
  </div>


