<div class="footer">
    <a routerLink="/Nos conditions générales de vente" routerLinkActive="active" ariaCurrentWhenActive="page">Nos conditions générales de vente</a>
    <a routerLink="/Mentions légales" routerLinkActive="active" ariaCurrentWhenActive="page">Mentions légales</a>
    <a routerLink="/Confidentialités et cookies" routerLinkActive="active" ariaCurrentWhenActive="page">Confidentialités et cookies</a>
    <a routerLink="/Contactez-nous" routerLinkActive="active" ariaCurrentWhenActive="page">Contactez-nous</a>
</div>
