<main class="page_produits">
    <h1> PREVENTION ET CONSEILS EN MATIERE DE SANTE</h1>
    
    <nav class="navbar">
          <ul>
          <li><a class="btn" routerLink="/prevention" routerLinkActive="active" ariaCurrentWhenActive="page">SANTE PREVENTION & CONSEILS</a></li>
          <li><a class="btn" routerLink="/complement" routerLinkActive="active" ariaCurrentWhenActive="page">COMPLEMENTS ALIMENTAIRES</a></li>
          <li><a class="btn" routerLink="/vente" routerLinkActive="active" ariaCurrentWhenActive="page">SPECIALITES EN VENTE LIBRE</a></li>
          <li><a class="btn" routerLink="/maquillage" routerLinkActive="active" ariaCurrentWhenActive="page">COSMETIQES & MAQUILLAGE</a></li>
          <li><a class="btn" routerLink="/spagyrie" routerLinkActive="active" ariaCurrentWhenActive="page">SPAGYRIE</a></li>
          <li><a class="btn" routerLink="/homeopathie" routerLinkActive="active" ariaCurrentWhenActive="page">HOMEOPATHIE</a></li>
          <li><a class="btn" routerLink="/phytotherapie" routerLinkActive="active" ariaCurrentWhenActive="page">PHYTOTHERAPIE</a></li>
        </ul>
    </nav>
  
  
       
         <section class="conseil">
           <fieldset>
            <h3>Les huit sphères du bien-être </h3>
                 <div class="items">            
                <ol>
                    <li>Psychologique : repose sur la capacité à absorber de nouvelles connaissances et la confiance</li>
                    <li>Physique : associé au bon fonctionnement du corps et aux sensations que celui-ci procure</li>
                    <li>Émotif : lié aux hauts et aux bas émotionnels</li>
                    <li>Spirituel : associé au système de croyances (pas forcément religieuse) et de valeurs</li>
                    <li>Social : lié au sentiment d’appartenance à une communauté et aux liens avec autrui</li>
                    <li>Personnel : repose sur la capacité à stimuler nos intérêts et le sentiment d’accomplissement</li>
                    <li>Professionnel : lié au bonheur au travail et aux objectifs de carrière</li>
                    <li>Médical : lié aux données et conditions médicales</li>
                </ol> 
              </div>   
                      <div>
                         <img class="img1" src="../assets/Images/prev.jpg" alt="image" width="150px" height="100px">
                      </div>       
                </fieldset>  
                <fieldset>
                         <h3>Les astuces bien-être pour mieux prendre soin de soi</h3>
                         <div>
                             <p>
                              Évidemment, tenter de tout améliorer en même temps pourrait vous mettre encore plus de pression sur les épaules. Et ça, c’est tout à fait l’inverse de l’effet escompté!

                              La clé, pour arriver à mieux prendre soin de soi sans en faire un fardeau, c’est d’identifier des gestes simples liés aux sphères sur lesquelles on souhaite se concentrer. Pour vous aider, on a rassemblé 23 de nos astuces bien-être préférées.

                              </p>
                               <p>
                                <b> 1. Méditez 5 minutes par jour</b>
                                <br><br>
                                La méditation peut prendre toute sorte de formes et peut être pratiquée n’importe où. L’important, c’est de s’arrêter et de prendre conscience de notre corps et du monde qui nous entoure.

Les avantages de la méditation sont nombreux et comprennent la réduction du stress, la gestion de l’anxiété, le renforcement du système immunitaire, l’amélioration du sommeil et plus encore2.

                               </p>
                               <p> 
                                  <b>2. Lisez</b>
                                  <br><br>
                                  Saviez-vous que, selon des chercheurs de l’Université Yale, les gens qui lisent au moins 3 h 30 par semaine vivent en moyenne deux ans de plus que ceux qui ne lisent pas?

La lecture est un excellent moyen de garder le cerveau en santé, de réduire le stress et d’augmenter sa créativité3.
                               </p>
                               <p> 
                                <b>3. Adoptez un rituel beauté apaisant</b>
                                <br><br>
                                Simplifiez-vous la vie et tenez-vous-en à l’essentiel : nettoyant, crème et huile pour le visage. Encore plus simple?
                                Trouvez la routine peau sèche idéale juste ici et découvrez la formule magique en
                                 <img class="img2" src="../assets/Images/neauthy.jpg" alt="image">
                             </p>

                             <p> 
                              <b>4. Appelez vos amis</b>
                              <br><br>
                              Passer du temps avec les gens que vous aimez peut favoriser votre sentiment d’appartenance et de sécurité5.
                               </p>
                               <p> 
                                <b>5.  Apprenez quelque chose de nouveau</b>
                                <br><br>
                                Le tricot, la poterie, la confection de bijoux, la boxe, le crochet, le yoga chaud, le flamenco, etc !.
                                 </p>
  
                                 <p> 
                                  <b>6. Profitez de la nature</b>
                                  <br><br>
                                  C’est prouvé : prendre une marche en forêt comporte plusieurs bienfaits. En effet, la thérapie par les arbres ou sylvothérapie est efficace pour toutes sortes de maux, autant physiques que psychologiques.

D’ailleurs, les phytoncides qu’émettent les arbres auraient pour effet de réduire le taux de cortisol (l’hormone du stress) dans le corps et de ralentir le rythme cardiaque.
                                </p>
    
                         </div>
                </fieldset>
         </section>
                  
    
  
   
  
  
    
    </main>
    
    