
.page_produits{
    background-color: #F6E6C2;
    font-size: medium;

}
.produits{
    display: flex;
    justify-content: space-between;
   
}
h1{
   text-align: center;
   color: rgb(0, 0, 0);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.section {
    display: flex;
    justify-content: space-between;
}

.img2{
    width: 500px;
    height: 500px;
    padding: 60px;
    margin: 80px;
}

.img1{
    width: 800px;
    height: 1000px;
    padding: 50px;
    margin: 20px;
}

nav ul{
    display: flex;

       
}
ul{
    list-style: none;
    
}

li{
        
       
    justify-content: space-between;
    margin: 20px 20px 20px;

}
a{
    display: inline-block;
    color:  black;
    background:    #9AC5F4;  /* #146aeb;*/
    border-radius: 10px;

    padding: 20px;
    margin: 10px;
    align-items: center;
    text-decoration: none;

}
.btn:hover {
    background-color: #555555;
    color: white;
}

.prx{
    
    color: red; 
    font-weight: 10px;
    padding-left:75px; 
    padding-right: 125px;
    padding-top: 20px;
    font-size: 1.6em;
    
}

.prodimg{
    border: solid 1px;
    height: 250px;
    width: 250px;


}
.produit{
    margin: 70px; ;
    
 
}

legend{
    text-align: center;
}

h3{
    text-align: center;
}
.conseil{
    display: inline-block;
    align-content: center;
    
}

fieldset{
    border: solid blue;
    margin: 50px;
    width: 800px;
}
.conseil{
    display: flex;
}
p{
    margin: 15px;
}