
.page {
  background-color: lightgrey;
  height: 50vh;
  width: 95%;
} 
h1 {
  text-align: center;
}
td {
  font-size: large;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 20vw;
  height: 8vh;
}
/* Nouvelles règles si la fenêtre fait au plus 1920px de large */
@media screen and (max-width: 1920px) {
  h1 {
    font-size: 80px;
    margin-bottom: 40px;
  }
  td {
    font-size: 50px;
  }
  button {
    width: 20vw;
    height: 8vh;
    font-size: 36px;
    margin-top: 40px;
  }
}
/* Nouvelles règles si la fenêtre fait au plus 1200px de large */
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 80px;
    margin-bottom: 40px;
  }
  td {
    font-size: 30px;
  }
  button {
    font-size: 30px;
    margin-top: 40px;
  }
}
/* Nouvelles règles si la fenêtre fait au plus 992px de large */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  td {
    font-size: 20px;
  }
  button {
    font-size: 20px;
    margin-top: 10px;
  }
}
/* Nouvelles règles si la fenêtre fait au plus 768px de large */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  td {
    font-size: 24px;
  }
  button {
    font-size: 20px;
    margin-top: 10px;
  }
}
/* Nouvelles règles si la fenêtre fait au plus 360px de large */
@media screen and (max-width: 360px) {
  .page {
    width: 100vw;
    height: 76vh;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 60px;
  }
  td {
    font-size: 12px;
  }
  button {
    font-size: 18px;
    margin-top: 50px;
    width: 40vw;
  }
}