<div class="page">
  <h1>Nos coordonnées</h1>
  <div class="contenu  row no-gutters justify-content-center">
    <div>
      <table class="table">
        <tbody>
          <tr>
            <td class="col1">Adresse</td>
            <td class="col2">: AV. des Planches 22c, 1820 Montreux, Suisse</td>
          </tr>
          <tr>
            <td>
              <span>Téléphone       </span>
              <img src="../assets/Images/whatsapp.png" alt="Logo"/>
            </td>
            <td>: +41 21 963 22 55</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>: pharmaciedelamairie@gmail.com</td>
          </tr>
          <tr>
            <td>geolocalisation</td>
            <td>: <a 
              href="https://goo.gl/maps/Cg9nXFgK2FXBWXj46">https://goo.gl/maps/Cg9nXFgK2FXBWXj46</a>
            </td>
          </tr>
        </tbody>
        </table>
    </div>
  </div>
  
  <div class="container">
    <button class="btn btn-dark" type="button" 
     routerLink="/contactform" routerLinkActive="active" 
     ariaCurrentWhenActive="page">Inscrivez vous</button>
  </div>
</div>

