<header class="header">

  <div class="logo">
    <img src="../assets/Images/Logo1.jpg" alt="Logo"/>
    <h1> PHARMACIE DE LA MAIRIE </h1>
  </div>

  <div class="input-search">
    <span class="material-symbols-outlined">
      search
      </span>
    <input type="search" placeholder="Rechercher un produit">
  </div>

  <div class="form-lang">
    <form action="#">
      <label for="langue">Langue: </label>
      <select name="langues" id="lang">
        <option value="français">Français</option>
        <option value="anglais">Anglais</option>
        <option value="allemand">Allemand</option>
      </select>
    </form>
  </div>

  <div class="nav">
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Accueil</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
        <li><a routerLink="/esperience" routerLinkActive="active" ariaCurrentWhenActive="page">Expériences et histoire</a></li>
        <li><a routerLink="/produits" routerLinkActive="active" ariaCurrentWhenActive="page">Produits</a></li>
        <li><a routerLink="/prestations" routerLinkActive="active" ariaCurrentWhenActive="page">Prestations</a></li>
        <li><a routerLink="/marques" routerLinkActive="active" ariaCurrentWhenActive="page">Marques</a></li>
      </ul>
    </nav>
  </div>

</header>
