<img src="../assets/Images/Logo1.jpg" alt="Logo"/>

<header class="header">

<h1> PHARMACIE DE LA MAIRIE </h1>

<input type="search" placeholder="Rechercher un produit">

<form action="#">
  <label for="langue">Langue</label>
  <select name="langues" id="lang">
    <option value="français">Français</option>
    <option value="anglais">Anglais</option>
    <option value="allemand">Allemand</option>
  </select>
</form>

<nav>
  <ul>
    <li><a routerLink="/accueil" routerLinkActive="active" ariaCurrentWhenActive="page">Accueil</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
    <li><a routerLink="/produits" routerLinkActive="active" ariaCurrentWhenActive="page">Produits</a></li>
    <li><a routerLink="/prestations" routerLinkActive="active" ariaCurrentWhenActive="page">Prestations</a></li>
    <li><a routerLink="/marques" routerLinkActive="active" ariaCurrentWhenActive="page">Marques</a></li>
  </ul>
</nav>

</header>
