
.page {
  background-color: lightgrey;
  height: 60vh;}
h1 {
  text-align: center;
}
.container-fluid {
  background-color: lightgray;
}
.card {
  background-color: lightgray;
}
.prestation {
  border: 1px solid #ccc;
}
.images {
  height: 100%;
  background-color: red;
}
.image {
  height: 100%;
}
img {
  align-items: center;
  height: 100%;
}
.img-fluid {
  width: 100%;
}
h1 {
  height: 10%;
}
.contenu {
  height: 100;
}
.annonce {
height: 30%;
}