
	<div class="page">
		<h1>NOS PRESTATIONS</h1>
		<div class="contenu container-fluid row justify-content-between no-gutters mt-5">
			<div class="images col-xl-4 col-lg-4 col-md-4 col-sm-12 container-fluid mt-0">
				<div class="image container-fluid text-center mt-0">
					<img class="img" src="assets/Images/preventions.jpg"/>
				</div>
				<div>
					<h2 class="img-title text-center">Spécialités en vente libre</h2>
					<p>Nos recettes à base de produits naturelles élaborées par nos apothicaire</p>
				</div>
			</div>
			<div class="images col-xl-4 col-lg-4 col-md-4 col-sm-12 container-fluid mt-0">
				<div class="image container-fluid text-center mt-0">
					<img class="img" src="assets/Images/commande3.jpg"/>
				</div>
				<div>
					<h2 class="img-title text-center">Commander</h2>
					<p>faites nous parvenir votre commande par mail ou whatsapp. Nous vous informons rapidement 
						quand elle est disponible.</p>
				</div>
			</div>
			<div class="images col-xl-4 col-lg-4 col-md-4 col-sm-12 container-fluid mt-0">
				<div class="image container-fluid text-center mt-0">
					<img class="img" src="assets/Images/specialites.jpg"/>
				</div>
				<div>
					<h2 class="img-title text-center ">Prévention et Conseils</h2>
					<p class="description">Notre expérience à votre service depuis 1866.
									Conseils santé, allimentation, maquillage.</p>
				</div>
			</div>
		</div>
	</div>
			



	



