<main class="">
    <h1>NOTRE EXPERIENCE ET NOTRE HISTOIRE</h1>
    <section>
           <div>
                <img class="image1" src="../assets/Images/pharmacie3.jpg" alt="pharmacie">
           </div>
    </section>

    <article>
           
         
         <p> <img class="img1" src= "../assets/Images/pharmacie2.jpg">
            La pharmacie de la mairie a été fondée en 1866 à Montreux. Le propriétaire était le Dr Du pont et la pharmacie s’appelait Pharmacie Du pont.  English Pharmacy & Deutsche Apotheke. 
            Au bénéfice d’un savoir-faire d’entreprise, acquis grâce à plus de dix ans d’expérience, chaque employé de la pharmacie saura vous conseiller au mieux selon vos demandes. 
               
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>  <img class="img2" src= "../assets/Images/pharmacie.jpg">
            Nous proposons toute une gamme de produits de première qualité Suisse dans les domaines suivantes :</p>
           <ol>
              <li>Prévention & Conseils en matière de santé</li>
              <li>Compléments alimentaires</li>
              <li>Spécialités en Vente libre </li>
              <li>Cosmétiques & Maquillages</li>
              <li>Spagyrie (plantes naturelles)</li>
              <li>Phytothérapie (plantes naturelles)</li>
              <li>Homéopathie</li>
           </ol>
          
           
        </article>
    <aside>
        <p>
            Nous sommes à votre écoute et nous fournissons un service qui va au-déla de la simple vente, dans la plus grande discrétion et le respect du client.
            
         </p>
         <p>
            Nous sommes spécialisés dans la vente de cosmétiques exclusifs et de médecines naturelles, fabriquées en Suisse notamment.
Nos clients ont la possibilité de passer des commandes par mail ou par WhatsApp

         </p>
    </aside>

</main>
