<main class="page_produits">
  <h1> COSMETIQUES & MAQUILLAGES</h1>
  
  <nav class="navbar">
        <ul>
        <li><a class="btn" routerLink="/prevention" routerLinkActive="active" ariaCurrentWhenActive="page">SANTE PREVENTION & CONSEILS</a></li>
        <li><a class="btn" routerLink="/complement" routerLinkActive="active" ariaCurrentWhenActive="page">COMPLEMENTS ALIMENTAIRES</a></li>
        <li><a class="btn" routerLink="/vente" routerLinkActive="active" ariaCurrentWhenActive="page">SPECIALITES EN VENTE LIBRE</a></li>
        <li><a class="btn" routerLink="/maquillage" routerLinkActive="active" ariaCurrentWhenActive="page">COSMETIQES & MAQUILLAGE</a></li>
        <li><a class="btn" routerLink="/spagyrie" routerLinkActive="active" ariaCurrentWhenActive="page">SPAGYRIE</a></li>
        <li><a class="btn" routerLink="/homeopathie" routerLinkActive="active" ariaCurrentWhenActive="page">HOMEOPATHIE</a></li>
        <li><a class="btn" routerLink="/phytotherapie" routerLinkActive="active" ariaCurrentWhenActive="page">PHYTOTHERAPIE</a></li>
      </ul>
  </nav>

  <section class="section prod1">
      
       <div class="produit">
        <fieldset>
           <legend><b>Produits cosmétiques naturels</b></legend>
           <img class="prodimg"  src="../assets/Images/Cosme1.jpg" alt="produit">
          <span>
          <p> <bdi class="prx img1">   
            55.95<span>&euro; </span>
          
           </bdi>
           </p>
          </span>
        </fieldset>
       </div>
       <div class="produit">
        <fieldset>
           <legend><b>Nos produits cosmétiques naturels</b></legend>
           <img class="prodimg"  src="../assets/Images/Cosme2.jpg" alt="produit">
          <span>
          <p> <bdi class="prx img1">
          32.96<span>&euro; </span>
           
           </bdi>
           </p>
          </span>
        </fieldset>
       </div>
       <div class="produit">
        <fieldset>
           <legend><b>Nos produits cosmétiques</b></legend>
           <img class="prodimg"  src="../assets/Images/cosme3.jpg" alt="produit">
          <span>
          <p> <bdi class="prx img1">
          50.59<span>&euro; </span>
           
           </bdi>
           </p>
          </span>
        </fieldset>
       </div>

       <div class="produit">
        <fieldset>
           <legend><b>Nos gamme de produits bio</b></legend>
           <img class="prodimg"  src="../assets/Images/cosme4.jpg" alt="produit">
          <span>
          <p> <bdi class="prx img1">
          29.98<span>&euro; </span>
           
           </bdi>
           </p>
          </span>
        </fieldset>
       </div>
       
  </section>

 <!--  Section 2-->

 <section class="section prod1">
      
  <div class="produit">
   <fieldset>
      <legend><b>kit de maquillage</b></legend>
      <img class="prodimg"  src="../assets/Images/maqui1.jpg" alt="produit">
     <span>
     <p> <bdi class="prx img1">   
       56.58<span>&euro; </span>
     
      </bdi>
      </p>
     </span>
   </fieldset>
  </div>
  <div class="produit">
   <fieldset>
      <legend><b>Mascara et rouge à lèvres mat</b></legend>
      <img class="prodimg"  src="../assets/Images/maqui2.jpg" alt="produit">
     <span>
     <p> <bdi class="prx img1">
     51.98<span>&euro; </span>
      
      </bdi>
      </p>
     </span>
   </fieldset>
  </div>
  <div class="produit">
   <fieldset>
      <legend><b>maquillage tendance 2023</b></legend>
      <img class="prodimg"  src="../assets/Images/maqui3.jpg" alt="produit">
     <span>
     <p> <bdi class="prx img1">
     78.90<span>&euro; </span>
      
      </bdi>
      </p>
     </span>
   </fieldset>
  </div>

  <div class="produit">
   <fieldset>
      <legend><b> Nos collections  de maquillage  </b></legend>
      <img class="prodimg"  src="../assets/Images/maqui4.jpg" alt="produit">
     <span>
     <p> <bdi class="prx img1">
     49.99<span>&euro; </span>
      
      </bdi>
      </p>
     </span>
   </fieldset>
  </div>
  
</section>


<section class="section prod1">
      
<div class="produit">
 <fieldset>
    <legend><b> Nos produits </b></legend>
    <img class="prodimg"  src="../assets/Images/maqui5.jpg" alt="produit">
   <span>
   <p> <bdi class="prx img1">   
     56.58<span>&euro; </span>
   
    </bdi>
    </p>
   </span>
 </fieldset>
</div>
<div class="produit">
 <fieldset>
    <legend><b>Nos produits</b></legend>
    <img class="prodimg"  src="../assets/Images/maqui6.jpg" alt="produit">
   <span>
   <p> <bdi class="prx img1">
   51.98<span>&euro; </span>
    
    </bdi>
    </p>
   </span>
 </fieldset>
</div>
<div class="produit">
 <fieldset>
    <legend><b>Nos produits</b></legend>
    <img class="prodimg"  src="../assets/Images/maqui7.jpg" alt="produit">
   <span>
   <p> <bdi class="prx img1">
   78.90<span>&euro; </span>
    
    </bdi>
    </p>
   </span>
 </fieldset>
</div>

<div class="produit">
 <fieldset>
    <legend><b>Nos produits</b></legend>
    <img class="prodimg"  src="../assets/Images/maqui8.jpg" alt="produit">
   <span>
   <p> <bdi class="prx img1">
   49.99<span>&euro; </span>
    
    </bdi>
    </p>
   </span>
 </fieldset>
</div>

</section>



  
  </main>
  
  