/* Style pour le formulaire */
.page {
  background-color: lightgrey;
  width: 100vw;
  height: 50vh;
}
form {
  background-color: lightgrey;
  max-width: 40vw;
  margin: 1vh auto;
  font-size: 3vh;
}
input[type="text"], input[type="email"], input[type="tel"] {
  display: block;
  width: 100%;
  margin-bottom: 1vh;
}

input[type="submit"] {
  width: auto;
  cursor: pointer;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

